* {
    font-family: "Press Start 2P", cursive;
    box-sizing: border-box;
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    background-color: black;
}

.bestRegardsLine1 {
    margin-bottom: 0;
}
.bestRegardsLine2 {
    margin-top: 0;
}